body{
  background: #96acb7;
  background-size: 100% 100%;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  color: #d4e4bc;
}

.footer{
  display: flex;
  background: #1e2019;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 13px;
}

.scoreContainer {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #1e2019;
  box-shadow: 0px 2px 6px 2px #1e2019;
  height: 200px;
  gap: 200px;
}

.scoreBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 5px 15px;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
  text-shadow: 0px 0px 6px black;
}

.score{
  font-size: 60px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin: 100px 50px;
  gap: 50px;
}

.btn{
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-size: 25px;
  font-weight: 500;
  text-shadow:  1px 1px 3px black;
  background-size: cover;
  box-shadow: inset 0px 0px 12px 2px black, 2px 2px 10px 1px black;
  cursor: pointer;
}

img{
  height: 150px;
  width: 150px;
}

#rock{
  background-image: url(images/rock.jpg);
}

#paper{
  background-image: url(images/paper.jpg);
}

#scissors{
  background-image: url(images/scissors.jpg);
}

.player{
  background: #cc3363;
  box-shadow: 0px 0px 10px 5px #cc3363, inset 0px 0px 7px 5px #aa3363;
}

.computer{
  background: #20063b;
  box-shadow: 0px 0px 10px 5px #20063b, inset 0px 0px 7px 5px #20063f;
}

.textBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBox .text{
  background: #b5c8ba;
  color: #1e2019;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  border-radius: 20px;
  height: 200px;
  width: 800px;
  box-shadow: inset -1px 1px 1px 1px black;
  text-shadow: 1px 1px 5px black;
}
